*{
  font-size: 14px ;
  /* margin: 0px !important; */
}
body {
  background-color:#efefef ;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.rowSelected{
  background-color: #e3ddff !important;
}

.MuiTableHead-root{
  background-color: #bd261e!important;
}

.MuiTableCell-head{
  color:white !important
}

#btnBuscar{
  font-size: 10px !important;
}

.table>tr:nth-of-type(odd) {
  background-color: #f3f2f8 !important;
}

.table>tr{
  height: 10px !important;
}

td{
     min-height: 10px;
  height: 10px !important;
}
.MuiTableCell-root{
  padding: 7px !important;
}

